* {
  box-sizing: border-box;
}

img {
  width: 100%
}

body {
  background: linear-gradient rgba(130, 130, 130, .5), rgba(130, 130, 130, .5);
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
}

.social-media {
  align-items: center;
  margin-right: 5px;
}

.social-media-icon:not(:last-child) {
  margin-right: 5px;
}

.social-media-icon>i {
  font-size: 14px;
}

.navigation>p {
  background-color: #b12b32;
  margin-right: 15px;
  text-align: center;
}

.navigation>p:nth-child(4) {
  margin-right: 0px;
}

.text {
  color: #fff;
  text-decoration: none;
}

.banner {
  background: url('images/top-image.png') no-repeat 27% 25%;
  min-height: 300px;
  height: 20vw;
  overflow: hidden;
  border: solid 10px #fff;
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  width: 30vw;
}

/***********************************************************************article*/
.article {
  background-color: #fff;

  color: #000;
  text-align: left;
  min-height: 350px;
}



/*********************************SK8ERS*/
.skateboarder > img {
  border: 5px solid #fff;

}

.lance, .rodney, .tommy,  {
  min-height: 230px;

  overflow: hidden;

}

.lance {


}

.rodney {


}

.tommy {


}

.steve {

  
  overflow: hidden;
}
.steve > img {
  height: 263px;
}
.w-100 {
  height:30px;
}
/******************************************************BOARDS*/


.board {
  height: 295px;
  width: 72px;
}

.board > img {
  transform: rotate(90deg) translateY(-100%);
  transform-origin: left top;
  width: 295px;
}
/***********************************************************FORM*/
/* .form {
  height: 360px;
  background-color: #fff;
  color: #000;
  text-align: left;
  padding: 20px;
} */
.wrapper {
  margin: 0 auto;
}
